header {
  position: inherit;
}

#loginformouterWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 10% 0;
}
#loginformouterWrap div:not(#kakao) {
  margin: auto;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  backdrop-filter: blur(5px);
  border: 3px solid #fecd10;
  padding: 20px;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}
.in {
  margin-bottom: 20px;
}

#btn {
  background-color: #fecd10;
  margin-bottom: 30px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #9b9b9b;
}
#kakao {
  margin-top: 24px;
}
#kakao a img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  #loginformouterWrap div:not(#kakao) {
    width: 400px;
  }
  input {
    height: 60px;
  }
}
